:root {
  --primary: #03a9f4;
  --background: #f5f5f5;
  --color: #111;
  --shade1: #e8e8e8;
  --shade2: #d0d0d0;

  // configurable variables
  --diff-site-width: 375;
  --diff-site-height: 15000;
  --diff-site-shift-left: 0;
  --diff-site-shift-right: 0;
  --diff-site-opacity-right: 1;
  --swipe-handle-position: 200;
}

.theme-dark {
  --background: #222;
  --color: #f5f5f5;
  --shade1: #333;
  --shade2: #444;
}

body {
  margin: 0;
  font-size: 1.2rem;
  font-family: $font-stack;
  background-color: var(--background);
  color: var(--color);
  transition: color $transition-duration, background-color $transition-duration;
}

h1 {
  margin: 2em 2rem 1em;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  color: var(--primary);

  span {
    opacity: 0.6;
  }
}

strong {
  font-weight: 900;
}

a {
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
  }
}

.small {
  font-size: 0.8rem;
}

p {
  text-align: center;

  &.intro {
    max-width: 700px;
    margin: 2em auto;
  }
}

.github-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 2rem 2rem 0;
}

.url-inputs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  span.mode-switch {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    border-radius: 50%;
    font-weight: 900;
    cursor: pointer;
    transition: background-color $transition-duration;

    &::after {
      content: "vs.";
    }

    &:hover {
      background-color: var(--shade1);

      &::after {
        content: "⚡";
      }
    }

    &--amp {
      &,
      &:hover {
        background-color: var(--primary);
      }

      &::after {
        content: "⚡";
      }
    }
  }

  .label-group {
    flex: 1 1 0%;
  }
}

.config-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1rem auto 0;
  padding: 1rem;
  background: var(--shade1);

  &--sticky {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    margin: 0;
    z-index: 10;
  }
}

.shift-section-wrapper {
  padding-top: 20rem;
}

.shift-section {
  display: flex;
  flex-flow: column nowrap;
  width: 3.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background: var(--shade2);
  z-index: 10;

  .shift-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
  }

  input {
    display: inline-block;
    width: 100%;
    padding: 0;
    border: none;
    font-size: 0.8rem;
    text-align: right;
  }
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}
