.notification {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
    font-size: .9rem;
    transition: background-color $transition-slow-duration;

    i {
        font-size: 1.2em;
        padding-right: .5em;
    }

    a {
        margin-left: auto;
        color: inherit;
        text-decoration: underline;
    }

    &--info {
        background-color: var(--info);
    }

    &--warning {
        background-color: var(--warning);
    }

    &--error {
        background-color: var(--alert);
    }
}