h1 {
  margin: 0.5em 2rem 0.5em;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary);

  span {
    opacity: 0.6;
  }
}

h3 {
  margin: 3rem 0 0.5rem;
}

h4 {
  margin: 2rem 0 0.5rem;
}

strong {
  font-weight: 700;
}

a {
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.8;
  }

  &.icon-link {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;

    i {
      font-size: 1.5em;
      margin-right: 0.25em;
      margin-top: 0.1em;
    }
  }
}

.small {
  font-size: 0.8rem;
}

.hidden {
  display: none;
}

p {
  margin: 0.5em 0;

  &.intro {
    max-width: 700px;
    margin: 1em auto 0.5em;
    text-align: center;
  }
}

li {
  list-style-type: square;

  + li {
    margin-top: 1rem;
  }
}
