.dif-mode-overlay .left-iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.dif-mode-overlay.dif-mode-overlay--blend .left-iframe {
  mix-blend-mode: difference;
}

.dif-mode-overlay .right-iframe {
  position: relative;
  top: 0;
  left: 0;
}
